ion-title {
    font-family: 'Georgia', serif;
    padding-top: 16px;
}

ion-card-title {
    font-family: 'Georgia', serif;
    color: #c8548f;
}
ion-card-subtitle {
    font-family: 'Georgia', serif;
    color: #000000;
}
ion-card-content {
    font-family: 'Bitter', serif;
}
